<div class="banner__content mobile_only">
  <div class="info">
    <h2 class="h1" style="max-width: {{block.settings.max_width}}px;">{{block.settings.title}}</h2>
    {% if block.settings.button_title != blank %}
      <a href="{{block.settings.button_link}}" class="button">{{block.settings.button_title}}</a>
    {% endif %}
  </div>
</div>