<div class="sp-text-cont-pg-main page-width" style="min-height: 500px;">
  <div class="sp-cst-container">
    <div class="sp-text-cont-pg-inn">
    {{ page.content }}
    </div>
  </div>
</div>
  
  
{% schema %}
{
  "name": "search",
  "tag": "section",
  "presets": [
    {
      "category": "search",
      "name":"Search page"
    }
  ]
}
{% endschema %}
 