.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: 700;
}

.h0 {
  font-size: 32px;
}

@media only screen and (min-width: 1025px) {
  .h0 {
    font-size: 50px;
  }
}

h1,
.h1 {
  font-size: 20px;
}

@media only screen and (min-width: 1025px) {
  h1,
  .h1 {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-size: 20px;
}

@media only screen and (min-width: 1025px) {
  h2,
  .h2 {
    font-size: 32px;
  }
}

h3,
.h3 {
  font-size: 16px;
}

@media only screen and (min-width: 1025px) {
  h3,
  .h3 {
    font-size: 24px;
  }
}

h4,
.h4 {
  font-size: 15px;
}

@media only screen and (min-width: 1025px) {
  h4,
  .h4 {
    font-size: 20px;
  }
}

h5,
.h5 {
  font-size: 13px;
}

@media only screen and (min-width: 1025px) {
  h5,
  .h5 {
    font-size: 15px;
  }
}

.text-uppercase--true {
  text-transform: uppercase!important;
}

.button {
  font-weight: 700;
  min-width: 200px;
  letter-spacing: 2px;
  min-height: 45px;
  text-transform: uppercase;
  font-size: 16px;
  &.dark {
    background: black;
    color: white;
    &::before, &::after {
      content: none;
    }
  }
  &.small {
    min-height: 38px;
    min-width: initial;
    width: fit-content;
    padding: 0 20px;
    font-size: 12px;
  }
}

.splide {
  .splide__arrow {
    background: transparent;
    border: 1px solid #B6B8BA;
    color: #B6B8BA;
    width: 44px;
    height: 44px;
    [disabled] {
      display: none;
    }
    svg {
      fill: currentColor;
    }
  } 
}


.link {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
  &.animate-arrow {
    display: inline;
    align-items: center;
    .icon-wrap {
      display: inline-flex;
      width: 20px;
      line-height: 10px;
      position: relative;
      top: -3px;
    }
  }
  .icon-wrap {
    margin-left: 0.8rem;
    white-space: nowrap;
    top: 2px;
    position: relative;
    svg {
      min-width: initial;
      margin: 0;
    }
  }
  &.large {
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
  }           
}

.upprecase--true {
  text-transform: uppercase;
}

.btn {
  font-family: var(--font-body-family);
  text-transform: uppercase;
}

.hide {
  display: none;
}

.card-wrapper {
  .card {
    .card__inner {
      
    }
    .card__content {
      .card__information {
        .vendor {
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 1px;
          text-transform: capitalize;
          @media screen and (max-width: 749px) {
            font-size: 14px;
          }
        }
        .card__heading {
          margin-top: 10px;
          text-transform: uppercase;
          letter-spacing: normal;
        }
      }
    }
  }
}

.no-margin {
  margin: 0;
}
#MainContent {
  display: block!important;
  &.cart {
    min-height: 700px;
    & > .page-width {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .cart__items-wrapper {
        margin: auto;
        width: calc(100% - 400px);
        @media screen and (max-width: 989px) {
          width: 100%;
        }
      }
      .cart__footer-wrapper {
        @media screen and (max-width: 989px) {
          width: 100%;
        }
        #main-cart-footer {
          width: 400px;
          @media screen and (max-width: 989px) {
            width: 100%;
          }
          &.is-empty {
            display: none;
          }
        }
        
      }
      .featured-collection {
        max-width: 1200px;
        margin: auto;
        width: 100%;
        }
    }
  }
  .side-banner--true {
    @media screen and (min-width: 990px) {
      margin-left: 160px;
      border-left: 1px solid #D1D3D4;
    }
    
  }
  .side-banner-section {
    display: none;
    @media screen and (min-width: 990px) {
      display: block;
      position: absolute;
      max-width: 160px;
      img {
        width: 100%;
        height: auto;
        margin-top: 34vh;
        min-height: 35vw;
      }  
    }
  }
}
html {
  
[data-recommendation="similar-products"] {
  @media screen and (max-width: 749px) {
    width: calc(100% - 20px)!important;
  }
  .widget {
    max-width: 1054px!important;
    margin: auto!important; 
  }
}
  #tagalys-namespace {
    &.tagalys-namespace {
      width: 100%;
      &.page-width--narrow {
        max-width: 1206px!important;
        padding: 0 80px;
        margin: auto;
        @media screen and (max-width: 749px) {
          padding: 0;
          padding-left: 20px;
        }
        .products-and-navigation {

        }
      }
      &:not(.page-width--narrow) {
        .widget-body {
          padding-left: 80px;
          @media screen and (max-width: 749px) {
            padding-left: 0px;
          }
        }
        
      }
      @media screen and (max-width: 749px) {
        padding: 0;
      }
      .widget {
        width: 100%;
        .widget-header {
          z-index: 0;
          margin-bottom: 30px;
          background: transparent;
          background-image: none;
          @media screen and (max-width: 749px) {
            margin-bottom: 10px;
          }
          .widget-heading {
            text-transform: uppercase;
            font-size: 40px;
            letter-spacing: 1px;
            text-align: center;
            @media screen and (max-width: 749px) {
              font-size: 20px;
              text-align: left;
            }
          }
        }
        .widget-body {
          
          @media screen and (max-width: 749px) {
            position: relative;
            &::after {
              content: " ";
              width: 50px;
              height: 100%;
              background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
              position: absolute;
              right: 0;
              top: 0;
            }
          }
          .products-and-navigation {
            @media screen and (max-width: 749px) {
              padding-right: 0;
            }
          }
          .carousel-actions-container {
            @media screen and (max-width: 749px) {
              display: none;
            }
            position: absolute;
            top: 35%;
            transform: translateY(-50%);
            width: 100%;
            .carousel-btn {
              border: 1px solid #B6B8BA;
              width: 30px;
              height: 30px;
              padding: 7px;
              border-radius: 50%;
              fill: #ddd;
              background: white;
              display: flex;
              align-items: center;
              justify-content: center;
              &.btn-disabled {
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
              }
              svg {
                width: 14px;
                height: 14px;
              }
            }
          }
          .products {
            .product {
              .product-image-container {
                &::before {
                  padding-bottom: 100%;
                }
              }
              .badge {
                background: black;
                color: white;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 700;
                margin-top: 10px;
                margin-left: 10px;
                &:empty {
                  display: none;
                }
              }
              .product-details {
                padding: 20px 0;
                .product-name {
                  text-align: left;
                  font-weight: 700;
                  font-size: 20px;
                  text-transform: uppercase;
                  line-height: 32px;
                  letter-spacing: 1px;
                  @media screen and (max-width: 749px) {
                    font-size: 14px;
                    line-height: 21px;
                  }
                }
                .pwr-category-snippets {
                  height: 25px;
                }
                .pwr-category-snippets .p-w-r .pr-category-snippet {
                  margin: 0;
                  @media screen and (max-width: 989px) {
                    display: block;
                  }
                  .pr-category-snippet__rating {
                    @media screen and (max-width: 989px) {
                      width: 100%;
                      display: block;
                    }
                    .pr-snippet-stars {
                      .pr-rating-stars {
                        margin-left: -2px;
                        .pr-star-v4 {
                          display: inline-block!important;
                          &.pr-star-v4-0-filled {
                            background-image: url('./empty-star.png');
                            margin: 0;
                          }
                        }
                      }
                      .pr-snippet-rating-decimal {
                        display: none;
                      }
                    }
                  }
                  .pr-category-snippet__total {
                    @media screen and (max-width: 989px) {
                      width: 100%;
                      padding-left: 2px;
                      padding-top: 2px;
                      font-size: 12px;
                    }
                  }
                }
                .product-prices {
                  text-align: left;
                  margin-top: 10px;
                  font-weight: normal;
                  .product-price-regular {
                    font-weight: normal;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
}


[data-section-type="announcement-bar-section"] {
  .slider {
    column-gap: 0px;
    row-gap: 0px;
    flex-wrap: nowrap;
    margin: 0;
  }
  .slideshow__controls {
    display: none;
  }
}
.p-w-r .pr-war {
  margin: auto;
}

.pwr-category-snippets .p-w-r .pr-category-snippet {
  margin: 0;
  @media screen and (max-width: 989px) {
    display: block;
  }
  .pr-category-snippet__rating {
    @media screen and (max-width: 989px) {
      width: 100%;
      display: block;
    }
    .pr-snippet-stars {
      .pr-rating-stars {
        margin-left: -2px;
        .pr-star-v4 {
          display: inline-block!important;
          &.pr-star-v4-0-filled {
            background-image: url('./empty-star.png');
            margin: 0;
          }
        }
      }
      .pr-snippet-rating-decimal {
        display: none;
      }
    }
  }
  .pr-category-snippet__total {
    @media screen and (max-width: 989px) {
      width: 100%;
      padding-left: 2px;
      padding-top: 2px;
      font-size: 12px;
    }
  }
}

#pwr-snippets {
  margin: 0;
  #pr-reviewsnippet {
    .pr-snippet {
      .pr-snippet-stars-container {
        .pr-snippet-stars {
          .pr-rating-stars {
            margin-left: -2px;
            .pr-star-v4 {
              display: inline-block!important;
              &.pr-star-v4-0-filled {
                background-image: url('./empty-star.png');
                margin: 0;
              }
            }
          }
          .pr-snippet-rating-decimal {
            display: none;
          }
        }
      }
      .pr-snippet-read-and-write {
        margin-top: 2px;
        .pr-snippet-review-count {
          color: black;
          font-weight: normal;
        }
        .pr-snippet-write-review-link {
          color: black;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 12px!important;
        }
      }
    }
  }
}

.boost-sd__modal {
  display: none!important;
}

body.boost-sd__modal-open {
  overflow: initial!important;
}

body.hide-price {
  .price {
    display: none!important;
  }
  .buy-buttons-box {
    display: none!important;
  }
  .product-prices {
    display: none!important;
  }
  .product__price {
    display: none!important;
  }
}

.boost-pfs-addtocart-wrapper {
  pointer-events: none;
}

.lcly-location-switcher-outer {
  form {
    background: #ddd;
    input {
      box-shadow: none!important;
      outline: none!important;
    }
    .lcly-location-switcher-button {
      background: transparent!important;
    }
  }
}

.pagination-wrapper {
  .pagination__list {
    li {
      max-width: 50px;
      .pagination__item {
        font-weight: 700;
        height: 30px;
        &.pagination__item--current {
          &::after {
            content: none;
          }
          color: #CE0E2D;
        } 
        &.pagination__item-arrow {
          background: #CE0E2D;
          color: white;
        }
      }
    }
  }
}

.card {
  .card__content {
    .card__information {
      .card-information {
        .price {
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }
}

.field--with-error {
  .error {
    display: none;
    width: 100%;
    background: white;
    padding-top: 5px;
    color: red;
  }
}

#lcly-overlay-0 {
  a:empty,
  ul:empty,
  dl:empty,
  div:empty,
  section:empty,
  article:empty,
  p:empty,
  h1:empty,
  h2:empty,
  h3:empty,
  h4:empty,
  h5:empty,
  h6:empty {
    display: block;
  }
}

[data-pr-component="Write"] {
  .pr-form-group  {
    .pr-file-input-btn {
      button {
        background: black;
        min-height: 40px;
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        min-width: 150px;
        color: white;
        text-align: center;
        justify-content: center;
        font-weight: 700;
        text-transform: uppercase;
        font-family: var(--font-heading-family);
        letter-spacing: 2px;
      }
    }
  }
  .pr-submit {
    .pr-btn-review {
      background: #E4E5E6;
        min-height: 40px;
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        min-width: 150px;
        color: black;
        text-align: center;
        justify-content: center;
        font-weight: 700;
        text-transform: uppercase;
        font-family: var(--font-heading-family);
        letter-spacing: 2px;
    }
  }
}

#shopify-section-template--18142514905380__16793799636a54b011 .fs-wide-timeline
{
  margin-bottom: 100px;
}
@media screen and (max-width: 749px) {

}

tab-component {
  .tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    column-gap: 5px;
    width: fit-content;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    padding: 0!important;
    margin-bottom: 50px;
    li {
      padding: 10px 40px;
      background: #e4e5e6;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      &.active {
        background: black;
        color: white;
      }
    }
  }
  .tab-content {
    padding: 0 50px;
    @media screen and (max-width: 768px) {
      padding: 0 20px;
    }
    [data-tab-content] {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

.tooltip {
  border-bottom: 1px dotted #000000; color: #000000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
  background: black;
  color: white!important;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  span {
    margin-left: -999em;
    position: absolute;
    color: black;
    background: white;
    padding: 10px;
    font-size: 16px;
  }
  &:hover span {
    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute; left: 1em; top: 2em; z-index: 99;
    margin-left: 0; width: 250px;
    @media screen and (max-width: 749px) {
      left: -2em;
    }
  }
  &:hover img {
    border: 0; margin: -10px 0 0 -55px;
    float: left; position: absolute;
  }
  &:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0;
  }
  &.classic { padding: 0.8em 1em; }
}

#shopify-pc__banner {
  .shopify-pc__banner__btns {
    .shopify-pc__banner__btn-accept:hover, .shopify-pc__banner__btn-decline:hover {
      border-color: #ce0e2d;
      background: #ce0e2d;
      color: white;
    }

  }
}