.image-with-text {
  display: flex;
  flex-direction: column;
  &.hide {
    display: none;
  }
  &.image-with-text--fit_content {
    .image-with-text__grid {
      .image-with-text__text-item {
        @media screen and (min-width: 990px) {
        padding: 40px 0;
        }
      }
    }
  }
  &.section-overlay--true {
    margin-top: -100px;
    @media screen and (max-width: 989px) {
      margin-top: 0;
      .image-with-text__grid {
        padding-left: 20px;
        padding-right: 20px;
      }
      
      .image-with-text__media-item {
        z-index: 2;
        position: relative;
      }
      .image-with-text__text-item {
        margin-top: -70px;
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 40px);
        max-width: inherit;
        .image-with-text__content {
          padding-top: 100px!important;
        }
      }
    }
  }
  &.image-with-text--overlap {
    @media screen and (min-width: 990px) {
      &.overlap--middle {
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .image-with-text__grid {
        margin-bottom: 50px;
        .image-with-text__text-item {
          padding: 0;
          .image-with-text__content {
            min-height: 100%;
            margin-top: 50px!important;
            margin-bottom: -50px;
            height: auto;
            width: calc(100% + 100px);
            min-width: calc(100% + 100px);
            margin-left: -100px;
            padding-left: 160px;
            padding-bottom: 60px;
            &.image-with-text__content--middle {
              margin-top: 0!important;
              height: calc(100% + 100px);   
              padding-top: 20px;
              padding-bottom: 20px;
            }
          }
        }
      }
      
      .image-with-text__grid--reverse {
        .image-with-text__text-item {
          .image-with-text__content {
            margin-right: -100px;
            padding-right: 160px;
            padding-left: 60px;
          }
        }
      }
    }
    .image-with-text__media-item {
      background: transparent!important;
      .image-with-text__media {
        @media screen and (max-width: 989px) {
          width: calc(100% - 40px);
          margin: auto;
        }
      }
    }
    .image-with-text__text-item {
      @media screen and (max-width: 989px) {
        margin-top: -30px;
      }
    }
    .image-with-text__content {
      margin-top: 0!important;
      @media screen and (max-width: 989px) {
        width: 100%;
        padding-top: 70px!important;
        padding-bottom: 40px!important;
        z-index: 3;
        
      }
    }
  }
  &.image-with-text--align_center {
    .image-with-text__grid {
      align-items: center;
    }
    
  }
  &.mobile-full-width--true {
    @media screen and (max-width: 749px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &.page-width-tablet-down {
    @media screen and (max-width: 989px) {
      .image-with-text__grid {
        .image-with-text__text-item {
          .image-with-text__content {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
  &.side-image--true {
    padding-left: 160px;
    @media screen and (max-width: 990px) {
      padding-left: 0;
    }
    .side-image {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 160px;
      @media screen and (max-width: 990px) {
        display: none;
      }
    }
    
  }
  .image-with-text__grid {
    &.adapted-image--true {
      align-items: center;
    }
    @media screen and (min-width: 990px) {
      &.width--large {
        .image-with-text__media-item {
          width: 60%;
        }
        .image-with-text__text-item {
          width: 40%;
        }
      }
      &.width--medium {
        .image-with-text__media-item {
          width: 50%;
        }
        .image-with-text__text-item {
          width: 50%;
        }
      }
      &.width--small {
        .image-with-text__media-item {
          width: 40%;
        }
        .image-with-text__text-item {
          width: 60%;
        }
      }
    }

    @media screen and (max-width: 989px) {
      &.mobile_image-with-text__grid--reverse {
        flex-direction: column-reverse;
      }
    }
    .image-with-text__media-item {
      position: relative;
      z-index: 2;
      &.second-image--true {
        display: flex;
      }
      &.mobile-space--true {
        @media screen and (max-width: 989px) {
          padding: 0 20px;
        }
      }
      &.two-images {
        align-items: center;
        column-gap: 0;
        justify-content: center;
        img {
          object-fit: contain ;
        }
      }
      &.container-image--true {
        padding: 20px 0;
        .image-with-text__media {
          margin: auto;
          img {
            object-fit: contain;
          }
        }
      }
      &:not(.container-image--true) {
        .image-with-text__media {
          max-width: initial!important;
        }
      }
    }
    .image-with-text__media {
      .video-section {
        height: 100%;
        .video-section__media {
          height: 100%;
        }
      }
    }
    .image-with-text__text-item {
      .image-with-text__content {
        @media screen and (max-width: 989px) {
          padding: 20px 20px;
        }
        &.horizontal-align-content--middle {
          .info {
            margin: auto;
          }
        }
        &.horizontal-align-content--left {
          .info {
            margin: auto;
            margin-left: 0;
          }
        }
        &.horizontal-align-content--right {
          .info {
            margin: auto;
            margin-right: 0;
          }
        }
        .info {
          display: flex;
          width: 100%;
          @media screen and (max-width: 989px) {
            max-width: initial!important;
          }
          & > svg {
            min-width: 42px;
            margin-right: 20px;
          }
          .heading-icon {
            width: 100px;
            height: 100px;
            margin-top: -13px;
            object-fit: contain;
            & + .text {
              .article-list {
                margin-left: -100px;
                width: calc(100% + 100px);
              }
            }
          }
          .text {
            width: 100%;
            & > .icon {
              margin-bottom: 10px;
              img {
                @media screen and (max-width: 989px) {
                  width: 92px;
                  height: auto;
                }
              }
            }
            .image-with-text__heading {
              margin-top: 0;
              text-transform: uppercase;
              &.h3 {
                line-height: 46px;
                @media screen and (max-width: 1200px) {
                  line-height: 32px;
                }
                @media screen and (max-width: 989px) {
                  line-height: 26px;
                }
              }
            }
            .image-with-text__text {
              margin-top: 20px;
              display: flex;
              @media screen and (max-width: 989px) {
                margin-top: 15px;
              }
              .side-content {
                display: block;
                min-width: 100px;
                order: -1;
                width: 100px;
              }
              &.body {
                font-family: var(--font-spec-family);
                .text-content {
                  h3 {
                    line-height: 46px;
                    margin: 0;
                    @media screen and (max-width: 749px) {
                      line-height: 26px;
                    }
                  }
                }
              }
              &.image-with-text__text--caption {
                &.caption-with-letter-spacing--large {
                  font-size: 16px;
                  font-weight: 700; 
                  margin-top: 10px;
                  letter-spacing: normal;
                }
              }
            }
            .tags {
              margin-top: 50px;
              display: flex;
              padding: 0;
              list-style: none;
              column-gap: 10px;
              row-gap: 10px;
              flex-wrap: wrap;
              li {
                a {
                  width: fit-content;
                  min-width: initial;
                  min-height: 40px;
                  padding: 0 20px;
                  @media screen and (max-width: 749px) {
                    min-height: 35px;
                    padding: 0 10px;
                    font-size: 12px ;
                  }
                }
              }
            }
            .article {
              display: flex;
              padding: 20px;
              border: none;
              &.is-active {
                border: none;
                background: var(--gradient-base-background-2);
                .info {
                  .button {
                    display: flex;
                  }
                }
              }
              img {
                border-radius: 50%;
                width: 80px;
                height: 80px;
                object-fit: cover;
              }
              .info {
                display: block;
                width: 100%;
                padding-left: 20px;
                margin: 0;
                margin-top: 18px;
                .subtitlte {
                  width: 100%;
                  display: block;
                }
                .button {
                  display: none;
                  margin-top: 10px;
                }
              }
            }
            & > .link {
              margin-top: 20px;
              letter-spacing: 2px;
              padding-right: 0px;
              @media screen and (max-width: 989px) {
                letter-spacing: normal;
              }
            }
            .image-link {
              display: flex;
              align-items: center;
              margin-top: 75px;
              width: fit-content;
              @media screen and (max-width: 989px) {
                margin-top: 10px;
                margin-bottom: 20px;
              }
              img {
                margin-right: 10px;
                @media screen and (max-width: 989px) {
                  width: 49px;
                  height: auto;
                }
              }
              .info {
                color: black;
                display: block;
                .subtitlte {
                  display: block;
                  margin-top: 10px; 
                  @media screen and (max-width: 989px) {
                    line-height: 13px;
                  }
                }
              }
            }
            .spec {
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-bottom: 1px solid #E4E5E6;
              .link {
                display: flex;
                width: 40%;
                max-width: 150px;
                justify-content: space-between;
                .tooltip {
                  cursor: help; text-decoration: none;
                  position: relative;
                  span {
                    margin-left: -999em;
                    position: absolute;
                    padding: 0.8em 1em;
                    background: white; 
                    border: 1px solid #E4E5E6;
                    letter-spacing: normal;
                    font-weight: normal;
                    text-transform: initial;
                  }
                  &:hover span {
                    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                    font-family: Calibri, Tahoma, Geneva, sans-serif;
                    position: absolute; left: -2em; bottom: 3em; z-index: 99;
                    margin-left: 0; width: 250px;
                    font-size: 14px;
                  }
                }
              }
              .range {
                display: flex;
                .bar {
                  width: 2px;
                  height: 16px;
                  display: block;
                  background: #CE0E2D;
                  margin-right: 8px;
                  &:last-child {
                    margin-right: 0;
                  }
                  &.no-active {
                    background: black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .banner {
    margin: 50px auto;
    order: -1;
    @media screen and (max-width: 749px) {
      order: 1;
      margin: 0;
    }
    .grid__item {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.image-with-text__content--mobile-center .image-with-text__heading {
  @media screen and (max-width: 989px) {
    margin: auto;
    font-size: 24px;
  }
}