[data-section-type="image-link"] {
  display: flex;
  align-items: center;
  padding: 0 20px;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    padding: 0 20px;
    padding-top: 20px;
  }
  .arrow-box {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
      width: calc(100% + 40px);
      margin: 20px -20px 0;
    }
    .arrow{
      width: 80%;
      height: 1px;
      background: #E4E5E6;
      display: block;
      position: relative;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      &::after {
        content: " ";
        width: 5px;
        height: 5px;
        border: 1px solid #E4E5E6;
        border-left: none;
        border-top: none;
        transform: rotate(-45deg);
        display: block;
        position: absolute;
        right: 0;
        top: -2px;
        @media screen and (max-width: 768px) {
          content: none;
        }
      }
    }
  }
  
  .image-link {
    padding-left: 20px;
    display: flex;
    width: 60%;
    align-items: center;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    img {
      @media screen and (max-width: 768px) {
        width: 82px;
        height: auto;
        image-rendering: -webkit-optimize-contrast;
      }
    }
    .info {
      .subtitlte {
        font-size: 16px;
        line-height: 22px;
        text-transform: capitalize;
        @media screen and (max-width: 768px) {
         font-size: 14px;
        }
      }
      .title {
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: normal;
        line-height: 32px;
        @media screen and (max-width: 768px) {
          font-size: 15px;
          line-height: 15px;
          margin: 10px 0;
        }
      }
    }
  }
}